@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fbfbff;
  color: #2e2e3a;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #e8ebf7;
}

.header__title {
  font-family: "Paytone One", sans-serif;
  font-weight: 900;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  list-style: none;
  display: flex;
  align-items: flex-end;
}

.header__link {
  font-weight: 500;
  text-decoration: none;
  font-size: 1.2rem;
  color: #02111b;
  padding: 1rem 2rem;
}

.header__link:hover {
  background-color: #0c3683;
  color: #fff;
  border-radius: 0.25rem;
}

/* main content */

main {
  margin: 0 auto;
  padding: 1rem 3rem;
  max-width: 1200px;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.profile__image {
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.profile__description {
  font-style: italic;
  text-align: center;
  color: #4c5c68;
}

.profile__skills-hobbies {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile__title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.profile__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile__item {
  list-style: none;
  display: inline;
  background-color: #e8ebf7;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
